
<div id="layout">
	<div class="wrap clearfix">
		<div class="page-title">
			<h2>
				集成平台<sub>集成通道监控列表</sub>
			</h2>
		</div>

		<div class="content no-sidebar" id="root">
			<div data-reactid=".0">
				<div class="pure-g" data-reactid=".0.0">
					<div class="pure-u-1" data-reactid=".0.0.0">
						<div class="box" data-reactid=".0.0.0.0">
							<div class="widget-normal" data-reactid=".0.0.0.0.0">
								<div class="widget-content" style="display: block;"
									data-reactid=".0.0.0.0.0.1">
									<div data-reactid=".0.0.0.0.0.1.0">
										<table class="table table-striped "
											data-reactid=".0.0.0.0.0.1.0.0">
											<colgroup data-reactid=".0.0.0.0.0.1.0.0.0">
												<col style="width: 15px;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$memRate">
												<col style="width: auto;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$name">
												<col style="width: 12%;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$cpuRate">
												<col style="width: 12%;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$diskIORate">
												<col style="width: 12%;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$memUsage">
												<col style="width: 12%;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$diskUsage">
												<col style="width: 10%;"
													data-reactid=".0.0.0.0.0.1.0.0.0.$ctrls">
											</colgroup>
											<thead data-reactid=".0.0.0.0.0.1.0.0.1">
												<tr data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr">
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$0"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$0.0"></span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$0.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$1"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$1.0">通道名称名称</span><span
														class="sorted-arrow desc "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$1.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$2"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$2.0">部署时间</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$2.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$2"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$2.0">运行状态</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$2.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3.0">接收</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$4"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$4.0">过滤</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$4.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$5"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$5.0">处理中</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$5.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3.0">发送</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3.1"></span></th>
													<th class="sortedth"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3"><span
														class="sortedtext"
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3.0">错误</span><span
														class="sorted-arrow "
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$3.1"></span></th>
													<th style="width: 10%;" class=""
														data-reactid=".0.0.0.0.0.1.0.0.1.$thead_tr.$6"></th>
												</tr>
											</thead>
											<tbody data-reactid=".0.0.0.0.0.1.0.0.2">
												<tr data-reactid=".0.0.0.0.0.1.0.0.2.0:$0">
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0"><i
														class="iconfont  state-downtime"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0.0"></i></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1"><a
														href="https://tpm.oneapm.com/tpm/account/723/server/8027/10698/main"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1.0">CDR-Channel-Diagnoses-PPR</a></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">2016-03-25 11:21:56</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">STARTED</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$3">48</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$4">48</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$4">144</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6"><div
															class="operation"
															data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0">
															<a class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.0"></a><a
																class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.1"></a>
														</div></td>
												</tr>
											</tbody>
											<tbody data-reactid=".0.0.0.0.0.1.0.0.2">
												<tr data-reactid=".0.0.0.0.0.1.0.0.2.0:$0">
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0"><i
														class="iconfont  state-downtime"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0.0"></i></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1"><a
														href="https://tpm.oneapm.com/tpm/account/723/server/8027/10698/main"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1.0">CDR-Channel-Diagnoses-PPR</a></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">2016-03-25 11:21:56</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">STARTED</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">313</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$3">8</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$4">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">507</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6"><div
															class="operation"
															data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0">
															<a class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.0"></a><a
																class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.1"></a>
														</div></td>
												</tr>
											</tbody>

											<tbody data-reactid=".0.0.0.0.0.1.0.0.2">
												<tr data-reactid=".0.0.0.0.0.1.0.0.2.0:$0">
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0"><i
														class="iconfont  state-downtime"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0.0"></i></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1"><a
														href="https://tpm.oneapm.com/tpm/account/723/server/8027/10698/main"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1.0">CDR-Channel-DrugDispense-OMP</a></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">2016-03-25 11:21:56</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">STARTED</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">313</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$3">8</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$4">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">507</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6"><div
															class="operation"
															data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0">
															<a class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.0"></a><a
																class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.1"></a>
														</div></td>
												</tr>
											</tbody>
											<tbody data-reactid=".0.0.0.0.0.1.0.0.2">
												<tr data-reactid=".0.0.0.0.0.1.0.0.2.0:$0">
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0"><i
														class="iconfont  state-downtime"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$0.0"></i></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1"><a
														href="https://tpm.oneapm.com/tpm/account/723/server/8027/10698/main"
														data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$1.0">CDR-Channel-Order-ORM-New</a></td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">2016-03-25 11:21:56</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">STARTED</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$2">313</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$3">8</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$4">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">507</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$5">0</td>
													<td class="" data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6"><div
															class="operation"
															data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0">
															<a class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.0"></a><a
																class="iconfont" href="javascript:;"
																data-reactid=".0.0.0.0.0.1.0.0.2.0:$0.$6.0.1"></a>
														</div></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
