<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="integration.monitor.common.dao.his.HisDataDao">
	<select id="selectPatientInfo" resultType="java.util.Map">
		select * from AdmPatsVisit where No_TreatList=#{str,jdbcType=VARCHAR}
	</select>
</mapper>