<div class="wrap clearfix">
		<script type="text/javascript">
          var User = {};
            User['id'] = '723';
            User['groupId'] = '723';
            User['parentId'] = '0';
            User['adminId'] = '723';
            User['role'] = 'admin';
        </script>
			<div class="content no-sidebar " id="root">
				<div class="home-list">
					<div class="pure-g">
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://ai.oneapm.com/tpm/account/723/applications" class="product-link">
									<div class="icon-box">
										<div class="icon-bg ai">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">Transaction Monitor</p>
										<p class="desp">集成事务监控</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://rum.oneapm.com/tpm/account/723/beacon/applist" class="product-link">
									<div class="icon-box">
										<div class="icon-bg bi">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">Message Monitor</p>
										<p class="desp">消息事件监控</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://cloud.oneapm.com/" class="product-link">
									<div class="icon-box">
										<div class="icon-bg ci">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">DataBase Info</p>
										<p class="desp">数据库性能监控</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://ct.oneapm.com/synthetic/monitor" class="product-link">
									<div class="icon-box">
										<div class="icon-bg syn">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">Channel Insight</p>
										<p class="desp">集成通道状态监控</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://mi.oneapm.com/mobile/app" class="product-link">
									<div class="icon-box">
										<div class="icon-bg mi">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">Problem Manage</p>
										<p class="desp">集成问题管理平台</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="http://c.110monitor.com/console/alarm/index.jsp?JSESSIONID=4a3e8c35-a8c2-436d-9ec1-620c158a3108" class="product-link">
									<div class="icon-box">
										<div class="icon-bg alert">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">Transaction Manage</p>
										<p class="desp">集成事务管理平台</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://tpm.oneapm.com/tpm/account/723/servers" class="product-link">
									<div class="icon-box">
										<div class="icon-bg si">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">API Monitor</p>
										<p class="desp">集成服务监控</p>
									</div>
								</a>
							</div>
						</div>
						<div class="pure-u-1-2 pure-u-lg-1-3">
							<div class="box">
								<a href="https://tpm.oneapm.com/tpm/account/723/servers" class="product-link">
									<div class="icon-box">
										<div class="icon-bg si">
											<i class="icon iconfont"></i>
										</div>
									</div>
									<div class="text-box">
										<p class="name">Help Document</p>
										<p class="desp">帮助文档</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>