<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.DASHBOARD">Dashboard</span>
        </a>
      </li>
            <!-- <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v1">
          <span>Dashboard v1</span>
        </a>
      </li> -->
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v2">
          <b class="label bg-info pull-right">N</b>
          <span>控制面板</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <!--<b class="badge bg-info pull-right">3</b>-->
      <i class="glyphicon glyphicon-th"></i>
      <span>队列监控</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.table.footable">
          <span>临床队列</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.grid">
          <span>扩展队列</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.ui')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span translate="aside.nav.components.ui_kits.CHANNELMTR">Channel Monitor</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.ui_kits.CHANNELMTR">Channel Monitor</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.buttons">
          <span translate="aside.nav.components.ui_kits.CHANNELSTATICES">Channel Statices</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.icons">
          <b class="badge bg-info pull-right">3</b>
          <span translate="aside.nav.components.ui_kits.CHANNELMESSAGE">Channel Message</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.table')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <!--<b class="label bg-primary pull-right">2</b>-->
      <i class="glyphicon glyphicon-list"></i>
      <span translate="aside.nav.components.table.MESSAGEMANAGER">Message Manager</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.table.MESSAGEMANAGER">Message Manager</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.static">
          <span translate="aside.nav.components.table.MESSAGEQUERY">Message Query</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.timeline">
          <span translate="aside.nav.components.table.FLOWMESSAGE">Flow Message</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.form')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-edit"></i>
      <span translate="aside.nav.components.form.MTRSETTING">Monitor Setting</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.form.MTRSETTING">Monitor Setting</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.elements">
          <span translate="aside.nav.components.form.CONFIGSETTING">Config Setting</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.validation">
          <span translate="aside.nav.components.form.TRANSACTIONSETTING">Transaction Setting</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.wizard">
          <span translate="aside.nav.components.form.ALTERSETTING">Alter Setting</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-class="{active:$state.includes('app.page')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-file icon"></i>
      <span translate="aside.nav.components.pages.PAGES">Pages</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.pages.PAGES">Pages</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.profile">
          <span translate="aside.nav.components.pages.PROFILE">Profile</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.post">
          <span translate="aside.nav.components.pages.POST">Post</span>
        </a>
      </li>
      
    </ul>
  </li>
    <li ui-sref-active="active">
    <a ui-sref="app.chart">
      <i class="glyphicon glyphicon-signal"></i>
      <span translate="aside.nav.components.CHART">Chart</span>
    </a>
  </li>
    <!--
  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>  

<li>
  <a ui-sref="app.page.profile">
    <i class="glyphicon glyphicon-file icon"></i>
    <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
  </a>
</li>-->

<li>
  <a ui-sref="app.docs">
    <i class="icon-question icon"></i>
    <span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>
  </a>
</li>
</ul>
<!-- / list -->
