<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.integration.monitor.dao.ProblemRecordDao">
	<resultMap id="problemRecordMap" type="com.zju.integration.monitor.model.ProblemRecord">
		<id column="SERIAL_NO" property="serialNo" jdbcType="INTEGER" />
		<result column="PROBLEM_CODE" property="problemCode" jdbcType="VARCHAR" />
		<result column="PROBLEM_THEME" property="problemTheme" jdbcType="VARCHAR" />
		<result column="PROBLEM_TYPE" property="problemType" jdbcType="VARCHAR" />
		<result column="PROBLEM_STATUS" property="problemStatus" jdbcType="VARCHAR" />
		<result column="PRIORITY" property="priority" jdbcType="VARCHAR" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
		<result column="MODIFIED_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="DEAD_LINE" property="deadLine" jdbcType="TIMESTAMP" />
		<result column="FILE_RELATED" property="fileRelated" jdbcType="CLOB" />
	</resultMap>
	
	<sql id="problemRecordInfo">
		PROBLEM_CODE,PROBLEM_THEME,PROBLEM_TYPE,PROBLEM_STATUS,PRIORITY,MEMO,CREATE_DATE,CREATOR,
		OPERATOR,MODIFIED_DATE,DEAD_LINE,FILE_RELATED 
	</sql>
	
	<!--查询集成问题记录表信息-->
	<select id="select" resultMap="problemRecordMap">
		SELECT
		<include refid="problemRecordInfo"></include>
		FROM
		INTE_PROBLEM 
		WHERE SERIAL_NO = #{serialNo,jdbcType=INTEGER}
	</select>
	<!--写入集成问题记录表信息-->
	<insert id="insert" parameterType="com.zju.integration.monitor.model.ProblemRecord">
	<selectKey resultType="long" order="AFTER" keyProperty="serialNo">
		SELECT ident_current('INTE_PROBLEM') AS serialNo
	</selectKey>
	INSERT INTO
		INTE_PROBLEM (
		<include refid="problemRecordInfo"></include>
		 ) VALUES ( 
		#{problemCode,jdbcType=VARCHAR},
		#{problemTheme,jdbcType=VARCHAR},
		#{problemType,jdbcType=VARCHAR},
		#{problemStatus,jdbcType=VARCHAR},
		#{priority,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{creator,jdbcType=VARCHAR},
		#{operator,jdbcType=VARCHAR},
		#{modifyDate,jdbcType=TIMESTAMP},
		#{deadLine,jdbcType=TIMESTAMP},
		#{fileRelated,jdbcType=VARCHAR} 
		)
	</insert>
	<!--更新集成问题记录表信息-->
	<update id="update" parameterType="com.zju.integration.monitor.model.ProblemRecord">
		UPDATE
		INTE_PROBLEM
		SET
		PROBLEM_CODE=#{problemCode,jdbcType=VARCHAR},
		PROBLEM_THEME=#{problemTheme,jdbcType=VARCHAR},
		PROBLEM_TYPE=#{problemType,jdbcType=VARCHAR},
		PROBLEM_STATUS=#{problemStatus,jdbcType=VARCHAR}，
		PRIORITY=#{priority,jdbcType=VARCHAR},
		MEMO=#{memo,jdbcType=TIMESTAMP},
		CREATE_DATE=#{createDate,jdbcType=VARCHAR}，
		CREATOR=#{creator,jdbcType=VARCHAR},
		OPERATOR=#{operator,jdbcType=VARCHAR},
		MODIFIED_DATE=#{modifyDate,jdbcType=VARCHAR},
		DEAD_LINE=#{deadLine,jdbcType=VARCHAR},
		FILE_RELATED=#{fileRelated,jdbcType=VARCHAR} 
		WHERE 
		SERIAL_NO = #{serialNo,jdbcType=INTEGER}
	</update>
	<!--删除集成问题记录表信息-->
	<delete id="delete" parameterType="com.zju.integration.monitor.model.ProblemRecord">
		DELETE FROM INTE_PROBLEM WHERE SERIAL_NO = #{serialNo,jdbcType=INTEGER}
	</delete>
	
</mapper>