<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.integration.monitor.dao.ServiceStatusDao">
	<resultMap id="serviceStatusMap" type="com.zju.integration.monitor.model.ServiceStatusInfo">
		<id column="SERIAL_NO" property="serialNo" jdbcType="INTEGER" />
		<result column="SERVICE_CODE" property="serviceCode" jdbcType="VARCHAR" />
		<result column="SERVICE_FUN_NAME" property="serviceFunName" jdbcType="VARCHAR" />
		<result column="SERVICE_FUN_TYPE" property="serviceFunType" jdbcType="VARCHAR" />
		<result column="SERVICE_DEFINE_URL" property="serviceDefineUrl" jdbcType="VARCHAR" />
		<result column="SERVICE_RESPONSE_TIME" property="serviceResponseTime" jdbcType="FLOAT" />
		<result column="SERVICE_THROUGHPUT" property="serviceThroughPut" jdbcType="FLOAT" />
		<result column="ERROR_RATE" property="errorRate" jdbcType="FLOAT" />
		<result column="CREATE_DATE_TIME" property="recordDate" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="serviceStatusInfo">
		SERVICE_CODE,SERVICE_FUN_NAME,SERVICE_FUN_TYPE,SERVICE_DEFINE_URL,SERVICE_RESPONSE_TIME,
		SERVICE_THROUGHPUT,ERROR_RATE,CREATE_DATE_TIME
	</sql>
	
	<!--查询服务器性能参数信息-->
	<select id="select" resultMap="serviceStatusMap">
		SELECT
		<include refid="serviceStatusInfo"></include>
		FROM
		SERVICE_PERFORMANCE
		WHERE SERIAL_NO = #{serialNo,jdbcType=INTEGER}
	</select>
	<!--写入服务器性能参数信息-->
	<insert id="insert" parameterType="com.zju.integration.monitor.model.ServiceStatusInfo">
	<selectKey resultType="long" order="AFTER" keyProperty="serialNo">
		SELECT ident_current('SERVICE_PERFORMANCE') AS serialNo
	</selectKey>
	INSERT INTO
		SERVICE_PERFORMANCE (
		<include refid="serviceStatusInfo"></include>
		 ) VALUES ( 
		#{serviceCode,jdbcType=VARCHAR},
		#{serviceFunName,jdbcType=VARCHAR},
		#{serviceFunType,jdbcType=VARCHAR},
		#{serviceDefineUrl,jdbcType=VARCHAR},
		#{serviceResponseTime,jdbcType=FLOAT},
		#{serviceThroughPut,jdbcType=FLOAT},
		#{errorRate,jdbcType=FLOAT},
		#{recordDate,jdbcType=TIMESTAMP} 
		)
	</insert>
	<!--更新服务器性能参数信息-->
	<update id="update" parameterType="com.zju.integration.monitor.model.ServiceStatusInfo">
		UPDATE 
		SERVICE_PERFORMANCE 
		SET 
		SERVICE_CODE=#{serviceCode,jdbcType=VARCHAR},
		SERVICE_FUN_NAME=#{serviceFunName,jdbcType=VARCHAR},
		SERVICE_FUN_TYPE=#{serviceFunType,jdbcType=VARCHAR},
		SERVICE_DEFINE_URL=#{serviceDefineUrl,jdbcType=VARCHAR},
		SERVICE_RESPONSE_TIME=#{serviceResponseTime,jdbcType=FLOAT},
		SERVICE_THROUGHPUT=#{serviceThroughPut,jdbcType=FLOAT},
		ERROR_RATE=#{errorRate,jdbcType=FLOAT}  
		WHERE 
		SERIAL_NO = #{serialNo,jdbcType=INTEGER} 
	</update>
	<!--删除服务器性能参数信息-->
	<delete id="delete" parameterType="com.zju.integration.monitor.model.ServiceStatusInfo">
		DELETE FROM SERVICE_PERFORMANCE WHERE SERIAL_NO = #{serialNo,jdbcType=INTEGER}
	</delete>
	
</mapper>