<div id="layout">
		<div class="wrap clearfix">
			<script type="text/javascript">
				var User = {};
			</script>
			<div class="content no-sidebar form-middle" id="root">
				<div class="logo-center">
					<a id="logo-center" class="iconfont icon-monitor" href="#"
						title="Integration Monitor"></a>
				</div>
				<div class="container clearfix">
					<div class="box login-box">
						<div class="title">
							<h2>µÇÂ½</h2>
						</div>
						<div class="form-wrapper">
							<form method="post"
								action="#"
								id="loginform" novalidate="novalidate">
								<div class="input-box">
									<input class="input-text valid" type="text" name="email"
										placeholder="ÓÊÏä">
									<p class="error-top"></p>
								</div>
								<div class="input-box no-margin">
									<input class="input-text" type="password" name="password"
										placeholder="ÃÜÂë">
									<p class="error-top"></p>
								</div>
								<div class="remember-box">
									<input type="checkbox" name="rememberPassword" value="false"
										id="remember"> <label> <span class="check-out">
											<span class="iconfont check-in">¤›</span>
									</span> ×Ô¶¯µÇÂ½
									</label> <a class="float-right"
										href="#">Íü¼ÇÃÜÂë£¿</a>
								</div>
								<div class="input-box margin-min">
									<input type="hidden" name="encode" value="false"> <input
										class="btn btn-blue btn-block" type="submit" name="submit"
										value="µÇÂ¼">
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>